@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/notosans/NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans KR bold';
  src: url('./fonts/notosans/NotoSansKR-Bold.ttf');
}

body {
  color: #0f1317;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

